@import "tailwindcss";

@font-face {
  font-family: "汉仪文黑";
  src: url("../assets/font/汉仪文黑.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "汉仪文黑", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --primary-color: #6366f1;
  --hover-color: #4f46e5;
  --border-color: #e6e6e6;
  --border-color-dark: #bebebe;
}

/* 暗色模式变量 */
.dark:root {
  --bg-color: #1f2937;
  --text-color: #f3f4f6;
  --primary-color: #818cf8;
  --hover-color: #a5b4fc;
}

/* 全局基础样式 */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

::-webkit-scrollbar {
  width: 14px;
  height: 10px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background: rgba(#101f1c, 0.1);
  -webkit-border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, 0.5);
  background-clip: padding-box;
  min-height: 20px;
  transition: background-color 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144, 147, 153, 0.3);
}