@font-face {
  font-family: "汉仪文黑";
  src: url("../assets/font/汉仪文黑.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "汉仪文黑", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

#app {
  max-width: 100%;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background: rgba(#101F1C, 0.1);
  -webkit-border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(144, 147, 153, .5);
  background-clip: padding-box;
  min-height: 28px;
  transition: background-color .3s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144, 147, 153, .3);
}

.n-message-container {
  z-index: 10001 !important;
}