<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linshiyi.interaction.mapper.CommentMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO  comment (entity_type,entity_id, user_id,content, parent_id )
        VALUES (#{entityType}, #{entityId}, #{userId}, #{content},#{parentId})
    </insert>

    <select id="selectById" resultType="com.linshiyi.interaction.domain.po.Comment">
        SELECT id, entity_type, entity_id, user_id, parent_id, content, is_deleted
        FROM comment
        WHERE id = #{id}
    </select>

    <select id="selectParentComment" resultType="com.linshiyi.interaction.domain.po.Comment">
        SELECT id,
               entity_type,
               entity_id,
               user_id,
               parent_id,
               content,
               is_deleted,
               create_time
        FROM comment
        WHERE entity_type = #{entityType}
          AND entity_id = #{entityId}
          AND parent_id IS NULL
          AND is_deleted = 0
        ORDER BY create_time DESC
    </select>

    <select id="selectFirstChildComment" resultType="com.linshiyi.interaction.domain.po.Comment">
        SELECT id,
               entity_type,
               entity_id,
               user_id,
               parent_id,
               content,
               is_deleted,
               create_time
        FROM comment
        WHERE parent_id = #{parentId}
          AND is_deleted = 0
        ORDER BY create_time DESC
        LIMIT 1
    </select>
    <select id="selectChildComment" resultType="com.linshiyi.interaction.domain.po.Comment">
        SELECT c.id,
               c.entity_type,
               c.entity_id,
               c.user_id,
               c.parent_id,
               c.content,
               c.is_deleted,
               c.create_time
        FROM comment c INNER JOIN comment_closure cc on c.id = cc.descendant_id
        WHERE cc.ancestor_id = #{parentId}
          AND c.entity_id = #{entityId}
          AND c.entity_type = #{entityType}
          AND c.is_deleted = 0
          AND cc.depth > 0
        ORDER BY c.create_time DESC
    </select>

</mapper>
