<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linshiyi.interaction.mapper.CommentMapper">


    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comment (entity_type, entity_id, user_id, content, parent_id)
        VALUES (#{entityType}, #{entityId}, #{userId}, #{content}, #{parentId})
    </insert>

    <select id="selectById" resultType="com.linshiyi.interaction.domain.po.Comment">
        SELECT id, entity_type, entity_id, user_id, parent_id, content, is_deleted
        FROM comment
        WHERE id = #{id}
    </select>

    <select id="selectParentComment" resultType="com.linshiyi.interaction.domain.po.Comment">
        SELECT id,
               entity_type,
               entity_id,
               user_id,
               parent_id,
               content,
               is_deleted,
               create_time
        FROM comment
        WHERE entity_type = #{dto.entityType}
          AND entity_id = #{dto.entityId}
          AND parent_id IS NULL
          AND is_deleted = 0
        ORDER BY create_time DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="selectFirstChildComment" resultType="com.linshiyi.interaction.domain.po.Comment">
        SELECT id,
               entity_type,
               entity_id,
               user_id,
               parent_id,
               content,
               is_deleted,
               create_time
        FROM comment
        WHERE parent_id = #{parentId}
          AND is_deleted = 0
        ORDER BY create_time DESC
        LIMIT 1
    </select>

    <select id="countParentComment" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM comment
        WHERE entity_type = #{dto.entityType}
          AND entity_id = #{dto.entityId}
          AND parent_id IS NULL
          AND is_deleted = 0
    </select>
    <select id="countChildComment" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM "comment"
        WHERE parent_id = #{parentId}
          AND is_deleted = 0
    </select>
    <select id="selectChildCommentWithPaging" resultType="com.linshiyi.interaction.domain.po.Comment">
        SELECT *
        FROM "comment"
        WHERE parent_id = #{parentId}
          AND is_deleted = 0
        ORDER BY create_time ASC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>


</mapper>
