<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linshiyi.interaction.mapper.UserLikeMapper">
    <insert id="insertLike">
        INSERT INTO "user_like" (user_id, entity_type, entity_id)
        VALUES (#{userId}, #{entityType}, #{entityId})
    </insert>
    <delete id="deleteLike">
        DELETE
        FROM "user_like"
        WHERE user_id = #{userId}
          AND entity_type = #{entityType}
          AND entity_id = #{entityId}
    </delete>
    <select id="selectBatchLikeStatus" resultType="java.util.Map">
        SELECT
        entity_id as "entityId",
        true as "isLiked"
        FROM "user_like"
        WHERE user_id = #{userId}
        AND entity_type = #{entityType}
        AND entity_id IN
        <foreach collection="entityIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="exists" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT 1
                      FROM "user_like"
                      WHERE user_id = #{userId}
                        AND entity_type = #{entityType}
                        AND entity_id = #{entityId})
    </select>
</mapper>
