@font-face {
  font-family: "汉仪文黑";
  /* 字体名称，可自定义 */
  src: url("./assets/font/汉仪文黑.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "汉仪文黑", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
}

#app {
  max-width: 60%;
  margin: 0 auto;
}

.n-message-container {
  z-index: 10001 !important;
}