spring:
  application:
    name: gateway-service  # 网关服务名称
  main:
    web-application-type: reactive
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848  # Nacos地址
    gateway:
      discovery:
        locator:
          enabled: true  # 启用服务发现路由
      routes:
        # 路由1：用户服务（user-service）
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user/**
          filters:
            - StripPrefix=0

        # 路由2：文章服务（article-service）
        - id: article-service
          uri: lb://article-service
          predicates:
            - Path=/article/**
          filters:
            - StripPrefix=0

        # 3：评论服务（comment-service）
        - id: comment-service
          uri: lb://comment-service
          predicates:
            - Path=/comment/**
          filters:
            - StripPrefix=0

server:
  port: 8080  # 网关端口（通常使用8080作为入口）