<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linshiyi.article.mapper.ArticleContentMapper">


    <insert id="insert">
        INSERT INTO article_content (article_id, content, version, create_time)
        VALUES (#{articleId}, #{content}, #{version}, #{createTime})
    </insert>

    <select id="selectLatestByArticleId" resultType="com.linshiyi.article.domain.po.ArticleContent">
        SELECT id, article_id, content, version
        FROM article_content
        WHERE article_id = #{articleId}
        ORDER BY version DESC
        LIMIT 1
    </select>
    <select id="selectMaxVersionByArticleId" resultType="java.lang.Integer">
        SELECT MAX(version)
        FROM article_content
        WHERE article_id = #{articleId}
    </select>
</mapper>
