<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linshiyi.comment.mapper.CommentMapper">


    <insert id="insert">
        INSERT INTO  comment (article_id, user_id, parent_id, content )
        VALUES (#{articleId}, #{userId}, #{parentId}, #{content})
    </insert>
    <select id="selectList" resultType="com.linshiyi.comment.domain.po.Comment">
        SELECT id,article_id,user_id,parent_id,content,status,like_count,create_time
        FROM comment
        WHERE article_id = #{articleId} AND status = 0
    </select>
    <select id="selectById" resultType="com.linshiyi.comment.domain.po.Comment">
        SELECT id
        FROM comment
        WHERE id = #{id}
    </select>

</mapper>
